<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @books.each do |book| %>
    <div class="content_post" style="background-image: url(<%= book.image %>);">
      <%= book.title %>
      <%= book.author %>
      <p><%= book.text %></p>
    </div>
  <% end %>
</div>