<div class="contents row">
  <% @books.each do |book| %>
    <div class="content_post" style="background-image: url(<%= book.image %>);">
      <div class="more">
          <span><%= image_tag 'arrow_top.png' %></span>
          <ul class="more_list">
            <li>
              <%= link_to '詳細', book_path(book.id), method: :get %>
            </li>
            <li>
              <%= link_to '編集', edit_book_path(book.id), method: :get %>
            </li>
            <li>
              <%= link_to '削除', book_path(book.id), method: :delete %>
            </li>
          </ul>
        </div>
      <%= book.title %>
      <%= book.author %>
      <p><%= book.text %></p>
      <span class="name">
        <%= "name" %>
      </span>
    </div>
  <% end %>
</div>